/* Universal selector that affects the entire webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color of the webpage */
body {
    background-color: #d9dcd6;
}

/* Defines all attributes within the header tag */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets the style of each h1 tag */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Defines all attributes within each section of the header */
header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Defines the list style type within each section of the header */
header section ul {
    list-style-type: none;
}

/* Defines the attributes of each list item within the unordered list located within each header section element */
header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets the color and text decoration for the hyperlinks */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets the font size for each paragraph */
p {
    font-size: 16px;
}

/* Contains attributes for the cover image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Controls relative positioning of an image within the content section */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Controls relative positioning of an image within the content section */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Defines the attributes of the content section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Defines the attributes of each section within the content section*/
.contentInfo {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Defines the attributes of each image within the content section */
.contentInfo img {
    max-height: 200px;
}

/* Defines the attributes of each h2 tag within the content section */
.contentInfo h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Defines the attributes of the benefits section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Defines the attributes of each section within the benefits section*/
.benefitInfo {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Defines the attributes of each h3 tag within the benefits section*/
.benefitInfo h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Defines the attributes of each image within the benefits section */
.benefitInfo img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Defines the attributes of the footer section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Defines the attributes of each h2 tag within the footer section*/
footer h2 {
    font-size: 20px;
}
